llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index
chromadb
pydantic
fastapi
nest-asyncio
uvicorn
huggingface-hub==0.25.2
InstructorEmbedding 
sentence-transformers==2.2.2
chainlit
requests==2.31.0
python-dotenv==1.0.0
asyncio==3.4.3
openai==1.12.0
pillow==10.2.0

